<div class="container-fluid text-left footer top-30">
  <div class="container">
    <div class="row">
        <div class="col-sm-8">
            <p>Creado por Filosoft MX.</p>
            <p>Todos los derechos reservados © Dick Rodriguez y Cervantes Consultores Fiscales S.C.</p>
        </div>
        <div class="col-sm-3">
          <i class="fab fa-facebook-square"></i>
          &nbsp;
          <i class="fab fa-twitter-square"></i>
        </div>
        <div class="col-sm-1">
            <a [routerLink]="home"><i class="fa fa-arrow-up"></i></a>
        </div>
    </div>
  </div>
</div>
