<div class="container-fluid text-left footer top-30">
  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>Creado por <a href="https://www.facebook.com/filosoftmx" target="_blank">Filosoft MX</a>.</p>
            <p>Todos los derechos reservados © Dick Rodriguez Consultores Fiscales S.C.</p>
        </div>
        <div class="col-md-3">
          <a href="https://www.facebook.com/pages/Dick-Rodriguez-Y-Cervantes-Consultores-Fiscales-S-C/154062214802793?hc_ref=ARTcEHNc1_EXSKTX5jw2quhfF9xKHDjDN0h1iGALhbvC_3fexXdCj4JECNtuNMa7tao&fref=tag&__xts__[0]=68.ARCuVYjw7pnlEroZ23vRUOiKzufmjVRh6HrrLaxniqN4qE8ZYLbKMwPbVCwxb-hE_FwXbk0Z8jKF55TrfNyAijskA-C1bk3tLbMow3QrDkYKq6TAc7j3B00RJ7xe16jJwrB18W27ed_7FKs0YuVXVbS63wa08D-1-6RdZxiuEy5M_4MRCFezV74&__tn__=kC-R&fb_dtsg_ag=AdxLtiAw6V2JbHw2m_ZCYFOcBphh3yAcZ64UrC5nT-3cJQ%3AAdwDrpLeeiVkkK6nCwLC2YNCvciD6j8h_60gQfXAWlCxUw&rf=884337678245481" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div>
  </div>
</div>
